.searchInput {
    border: 0px;
    border-radius: 10px 0px 0px 10px;
    height: 2em;
    background-color: yellow;
}

.searchButton {
    border: 0px;
    border-radius: 0px 10px 10px 0px;
    height: 2em;
    background-color: yellow;
}